{
  "extends": "@fictivekin/stylelint-config-fk",
  "customSyntax": "postcss-scss",
  "rules": {
    "selector-max-class": 3,
    "no-descending-specificity": null,
    "indentation": [
      2,
      {
        "except": ["value"],
        "indentInsideParens": "once-at-root-twice-in-block",
        "severity": "error"
      }
    ],
    "value-keyword-case": [
      "lower",
      {
        "ignoreProperties": ["/^\\$.*$/", "text-rendering"]
      }
    ],
    "scss/double-slash-comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested", "inside-block"],
        "ignore": ["between-comments"]
      }
    ]
  }
}
