CONTENTFUL_SPACE_ID=""
CONTENTFUL_TOKEN=""
CONTENTFUL_PREVIEW_TOKEN=""
CONTENTFUL_HOST="cdn.contentful.com"
CONTENTFUL_HOST_PREVIEW="preview.contentful.com"

CONTENTFUL_MANAGEMENT_TOKEN=""
CONTENTFUL_ENVIRONMENT="master"

PREVIEW_SECRET=""

# If the domain is in Route53 of the same AWS account, put the root domain name here
HOSTED_ZONE_DOMAIN=""

QA_DOMAIN=""
STAGING_DOMAIN=""
PROD_DOMAIN=""

# If you are using a custom domain above, enter the certificate ARNs here
QA_CERTIFICATE_ARN=""
STAGING_CERTIFICATE_ARN=""
PROD_CERTIFICATE_ARN=""
