@use '2-tools/colors' as *;
@use '2-tools/media-queries' as *;
@use '2-tools/units' as *;

//
//   @tables
// ---------------------------------------------------------
//
//  - Base styling for tables
//  - Class for striped rows
//
// ---------------------------------------------------------
//
//  Base table styling
//
//  Example: Table
//  <table>
//    <thead>
//      <tr>
//        <th>Heading</th>
//        <th>Heading</th>
//        <th>Heading</th>
//        <th>Heading</th>
//      </tr>
//    </thead>
//    <tbody>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//    </tbody>
//  </table>
//
// --------------------------------------------------------

@mixin tables {
    table {
        --bd: #{rem(1)} solid var(--color-bd);
        --color-bd: #{color('grey', '200')};

        border: none;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    th,
    td {
        padding: var(--space-fixed-2);
        text-align: left;
    }

    tr + tr :where(th, td) {
        border-top: 1px solid var(--color-divider);
    }


    th {
        color: var(--color-text-soft);
        min-width: rem(100);
    }

    th:first-of-type {
        min-width: rem(200);
    }

    .text__table {
        // Wrapper added by renderNode() to allow horizontal scrolling at
        // narrower viewport widths
        grid-column-end: -1;
        max-width: calc(100vw - var(--space-outer));
        overflow-x: auto;
        width: 100%;
    }

    .text__table table {
        @media #{query('l', 'max')} {
            margin-inline-end: var(--space-outer);
        }
    }

    //
    //   @table--striped
    // --------------------------------------------------------
    //
    //  Striped tables
    //
    //  Example: Table, striped
    //  <table class="table--striped">
    //    ...
    //  </table>
    //
    // --------------------------------------------------------

    // .table--striped {
    //     tbody tr:nth-of-type(odd) {
    //         background-color: #eee;  // Or whatever color you want
    //     }
    // }
}

.text__table {
    // Wrapper added by renderNode() to allow horizontal scrolling at
    // narrower viewport widths
    max-width: calc(100vw - var(--space-outer));
    overflow-x: auto;
    width: 100%;
}

.text__table table {
    @media #{query('l', 'max')} {
        margin-inline-end: var(--space-outer);
    }
}
